@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/bebas-neue';

@font-face {
    font-family: 'poppinsmedium';
    src: url('/fonts/poppins-medium-webfont.eot');
    src: url('/fonts/poppins-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('/fonts/poppins-medium-webfont.woff') format('woff'),
        url('/fonts/poppins-medium-webfont.ttf') format('truetype'),
        url('/fonts/poppins-medium-webfont.svg#poppinsmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background: url("/hexagon-bg.webp") repeat;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #efecec;
    font-family: 'Bebas Neue', sans-serif;
}

p {
    font-family: 'poppinsmedium';
}

.slider-container .slick-prev:before,
.slider-container .slick-next:before {
    color: #406213;
}

.back-img {
    background-image: url("/hori-zontal-img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* background-attachment: fixed; */
}

.icon-two,
.icon-one,
.icon-three,
.icon-four,
.icon-six {
    position: relative;
}

.icon-three-three {
    position: absolute;
    top: 20rem;
    right: 12rem;
}

.icon-four-four {
    position: absolute;
    top: 0.3rem;
    right: 40rem;
}

.icon-two-two {
    position: absolute;
    top: 100px;
    right: 0;
}

.icon-six-six {
    position: absolute;
    top: 31rem;
    right: 0;
}

.ribbon-wrapper-green {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-green {
    font: bold 10px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -8px;
    top: 20px;
    width: 120px;
    background-color: #BFDC7A;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45));
    background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -ms-linear-gradient(top, #BFDC7A, #8EBF45);
    background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon-green::before,
.ribbon-green::after {
    content: "";
    border-top: 3px solid #6e8900;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    bottom: -3px;
}

.ribbon-green::before {
    left: 0;
}

.ribbon-green::after {
    right: 0;
}

.box-border {
    box-shadow: 0 0 16px rgba(0, 0, 0, 21%);
    transition: 1s;
    background: rgb(255, 255, 255);
    border: 1px solid #9fa4a8;
    border-radius: 20px;
    position: relative;
    top: 0;
    /* border-top: 5px solid transparent; */
}

.fnt-buy {
    font-size: 24px;
}

.fnt-weight-buy {
    color: #ffffff;
    font-size: 1.9rem;
}

.btn-bottom {
    border-radius: 0 0 20px 20px;
}

.green-bg {
    background-color: #406213;
    color: #fff;
    display: block;
}

.prize-cut {
    color: #a4a4a4;
}

.para-color {
    color: #4b4b4b;
}

hr.new5 {
    border: 2px solid #406213;
    border-radius: 2px;
    opacity: 1;
}

.video-bottom {
    border-radius: 40px 40px;
}

.rating-number .progress-bar {
    border-radius: 0;
    background: #feb511;
}

.video-iframe .row {
    margin: 0 -5px;
}

.video-iframe .row .col-md-4 {
    padding: 0 5px 10px;
}

.video-iframe .row .col-md-4 img {
    border-radius: 5px;
    cursor: pointer;
}

.bebas {
    font-family: "Bebas Neue", cursive;
    line-height: 1.3;
}

#testimonial .box-border-testi {
    transition: 1s;
    background: #f5f5f5;
    border: 1px solid #969696;
    border-radius: 20px;
    position: relative;
    top: 0;
}

.video-bottom {
    border-radius: 40px 40px;
}

.text-small {
    padding-left: 10px;
    font-size: 10.5px;
    color: #406213;
}

.text-small img {
    margin-left: 5px;
}

.faqAccordion .accordion-button {
    color: #fff;
    text-align: left;
    background: #406213;
    padding: 20px;
    font-family: 'poppinsmedium';
    font-size: 1rem;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}

.faqAccordion .accordion-button.collapsed {
    background: #406213;
    color: #fff;
}

.faqAccordion .accordion-button::after {
    filter: invert(1);
}

.faqAccordion .accordion-item {
    background: #406213;
    line-height: 30px;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.faqAccordion .collapse {
    visibility: visible;
}

.faqAccordion .accordion-item {
    margin-bottom: 30px;
    border: 0;
    border-radius: 3px;
    color: #fff;
}

.faq-border {
    box-shadow: 0 0 16px rgba(0, 0, 0, 21%);
    transition: 1s;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    top: 0;
}

#contact {
    background-color: #fafafa;
    padding-bottom: 50px;
}

#contact .inquiry-btn {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #100e0e;
    padding: 0;
    border: 0;
    font-size: 1.3rem;
    color: #fff;
    font-size: 11px;
    text-align: center;
}

#contact .inquiry-btn img {
    display: inline-block;
    margin-bottom: 7px;
}

#contact .contact-info .addClass,
#contact .contact-info .call,
#contact .contact-info .email {
    font-weight: 500;
    color: #000;
    white-space: nowrap
}

#contact .inquiry-form .form-control,
#contact .inquiry-form select {
    width: 100%;
    font-weight: 500;
    color: #000;
    border: 0;
    background: 0 0
}

#contact .inquiry-form .form-control::-webkit-input-placeholder,
#contact .inquiry-form select::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .9)
}

#contact .inquiry-form .form-control:-moz-placeholder,
#contact .inquiry-form select:-moz-placeholder {
    color: rgba(0, 0, 0, .9);
    opacity: 1
}

#contact .inquiry-form .form-control::-moz-placeholder,
#contact .inquiry-form select::-moz-placeholder {
    color: rgba(0, 0, 0, .9);
    opacity: 1
}

#contact .inquiry-form .form-control:-ms-input-placeholder,
#contact .inquiry-form select:-ms-input-placeholder {
    color: rgba(0, 0, 0, .9)
}

#contact .inquiry-form .form-control:hover,
#contact .inquiry-form select:hover {
    box-shadow: none
}

#contact .inquiry-form .form-control:focus::-webkit-input-placeholder,
#contact .inquiry-form select:focus::-webkit-input-placeholder {
    color: transparent
}

#contact .inquiry-form .form-control:focus:-moz-placeholder,
#contact .inquiry-form select:focus:-moz-placeholder {
    color: transparent;
    opacity: 0
}

#contact .inquiry-form .form-control:focus::-moz-placeholder,
#contact .inquiry-form select:focus::-moz-placeholder {
    color: transparent;
    opacity: 0
}

#contact .inquiry-form .form-control:focus:-ms-input-placeholder,
#contact .inquiry-form select:focus:-ms-input-placeholder {
    color: transparent
}

#contact .inquiry-form .form-control:focus+.bottom-border::before,
#contact .inquiry-form .form-control:hover+.bottom-border::before,
#contact .inquiry-form select:focus+.bottom-border::before,
#contact .inquiry-form select:hover+.bottom-border::before {
    width: 100%
}

#contact .inquiry-form .bottom-border {
    display: block;
    position: relative;
    z-index: 1
}

#contact .inquiry-form .bottom-border::after,
#contact .inquiry-form .bottom-border::before {
    content: "";
    position: absolute;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transition: all .3s ease-in-out;
    height: 1px;
    background: rgba(0, 0, 0, .3);
    transition: .5s
}

#contact .inquiry-form .bottom-border::before {
    width: 0;
    background: #000;
    z-index: 1
}

#contact .inquiry-btn {
    border-radius: 50%;
    background-color: #000;
    padding: 0;
    border: 0;
    color: #fff
}

#contact .inquiry-btn:hover {
    background-color: rgba(0, 0, 0, .8)
}


.grid-footer {
    font-family: 'poppinsmedium';
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 1px;
    background-color: #ffffff;
}

.grid-footer h3,
footer {
    font-family: 'poppinsmedium';
}

.grid-footer>div {
    background-color: #406213;
    padding: 60px 0;
    font-size: 30px;
}

.item1 {
    grid-row: 1 / span 2;
}

.item2 {
    grid-row: 1 / span 2;
}

.footer-line {
    background-repeat: no-repeat;
    background-position: left;
    background-size: left;
    width: 70%;
}

.list-unstyled li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.list-unstyled li a:hover {
    text-decoration: none;
    color: #000;
}

.footer-info {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.footer-info a:hover {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

#cta {
    display: none;
    position: fixed;
    right: 15px;
    bottom: 0px;
    z-index: 99;
    width: 250px;
}

.icon-seven {
    position: relative;
}

.icon-seven-seven {
    position: absolute;
    top: 41rem;
    right: -2rem;
}

.video-use {
    border-radius: 200px 10px 10px 200px;
    height: fit-content;
}

.video-use-mob {
    border-radius: 40px 40px 40px 40px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

.popup .popup-content {
    max-width: 500px;
    margin: 1.75rem auto;
    background-color: #fff;
    border: 4px solid #fff;
    border-radius: 3px;
    position: relative;
}

.popup .popup-content iframe {
    width: 100%;
    height: 277px;
}

.popup .popup-content .closePop {
    position: absolute;
    right: -29px;
    top: -4px;
    font-size: 17px;
    padding: 0;
    width: 28px;
    height: 33px;
    cursor: pointer;
    border: 2px solid #fff;
    z-index: 1;
    background: #fff;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #000;
    font-family: 'poppinsmedium';
}

.video-iframe .thumbnails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

.video-iframe .thumbnails .thumbColumn {
    background-color: #000;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.video-iframe .thumbnails .thumbColumn:hover img {
    opacity: 0.75;
}

.video-iframe .thumbnails .thumbColumn img {
    margin-top: -17px;
    transition: 0.5s;
    margin-bottom: -17px
}

.thumbPlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-iframe .thumbnails .thumbColumn svg {
    background-color: red;
    width: 38px;
    height: 27px;
    cursor: pointer;
    border-radius: 7px;
}

#testimonial,
#contact,
#aboutus,
#ordernow {
    scroll-margin-top: 100px;
}

/* Mobile View */
@media screen and (min-width: 250px) and (max-width: 480px) {
    .grid-footer {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet View */
@media screen and (min-width: 481px) and (max-width: 768px) {
    .grid-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Laptop View */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .grid-footer {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 767px) {
    #cta {
        display: block;
    }

    .grid-footer .px-16 {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 1279px) {
    .cc-review-row {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1199px) {
    .grid-footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
    }

    .grid-footer>div {
        padding: 20px 0;
        width: 25%;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.15);
    }

    .grid-footer>div.item5,
    .grid-footer>div.item6 {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .video-iframe .row .col-md-4 {
        width: 50%;
    }

    .grid-footer {
        display: block;
    }

    .grid-footer>div,
    .grid-footer>div.item5,
    .grid-footer>div.item6 {
        width: 100%;
    }

    .footer-info {
        width: 100%;
        text-align: center;
        display: block;
    }

    section#testimonial {
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    .grid-footer+.text-center.p-3.text-white.text-lg {
        padding-bottom: 130px !important;
    }
}